@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row  ms-5">



    <div class="col pt-5 ">
        <div class="pt-5 pb-5 text-center ">
            <img src="~/img/logo.png" />
            <h3 class="display-4">Welcome To Prague Parking</h3>
        </div>
    </div>


    <div class="container">
        <div class="col-xl">
            <div class="pt-5 mb-2 myImages">
                <img src="/img/prague_airport-2.png" class="img-fluid me-5 mt-5  myImg " style="width:570px; height:570px;"  alt="somelogo" />
                <img src="~/img/parkingmap.jpg" class="img-fluid col-lg mt-5 col-xl mt-0 " style="width:570px; height:570px;"  />
            </div>
            <div class="pt-5">
            </div>
        </div>
    </div>






</div>

<br />
<br />