@page
@model FabolousUI.Pages.Shared.WrongParkingSpotCountModel
@{
}
@{
    ViewData["Title"] = "Too Few Parking Spots";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You got one or more stored vehicles in parkingspots that do not exist!!</h2>



<h3>Explanation</h3>
<p>
    Try changing the settings for parkingspot in <strong>Settings</strong> and set it to a higher number
</p>
<p>
    If you got a parked vehicle in parkingspot 55 but the current size of parkingspots available only is 50, you will hit this page.
</p>

<iframe width="560" height="315" class="ms-5 mt-5"
src="https://www.youtube.com/embed/dQw4w9WgXcQ?&autoplay=1" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>